body{
    background-color: rgb(14, 46, 69);

}
html{
    scroll-behavior: smooth;
}
.bio{
    color: whitesmoke;
    background: transparent
}



.bio h1{
    margin-top:200px;
  text-align:center;
  color: whitesmoke;
}
.bio h5{
    margin-top: 25px;
  text-align:center;
  color: whitesmoke;
  animation: type 5s;
  white-space: nowrap;
    overflow: hidden;
}


.skills{
    margin: 0;
    background: #fff;
  padding-bottom: 50px;
}
.skills h3{
    margin-top:0;
    padding-bottom: 100px;
    animation: change 3s ;

}

.bars{
 
    padding: 0;
    margin: 0;
}
.accomplishments{
    margin-top: 100px;
    background-color: transparent;
    text-align: center;
}
.accomplishments h5{
    margin-top: 50px;
}
.accomplishments button{
    background-color: #0e2e45;
}

.accomplishments #rows:hover{
    background-color:#0e2e45;
    color: #fff;
}
@media (max-width:992px){
    .accomplishments #rows{
        display: inline-block;
        position: justify;
        width:95%;
        margin-left:8px
    }
    .accomplishments #row3{
        display: flex;
        position: relative;
        width:85%;
        margin-left: 300px;
        margin-top: 50px;
        flex-direction: column;
    }
}
@media only screen and (max-width:768px){
    .accomplishments #rows{
        display: flex;
        position: relative;
        width:85%;
        margin-top: 50px;
        flex-direction: column;
    }
    .accomplishments #row3{
        display: flex;
        position: relative;
        width:85%;
        margin-top: 50px;
        flex-direction: column;
        
    }
}