html{
    scroll-behavior: smooth;
}

.about{
    background:#fff;
    color:black
    }
    .about p{
        letter-spacing:0.5px;
        margin-top: 50px;      
        font-weight: 600;
        text-align: center;
    }
  .aboutrow {
      
    margin-top: 0px;
    background:white;
    padding-bottom:150px;
    
  }

    .about img{
        margin-top:50px;
    }
    
    .bio button{
        margin-top:25px;
        background:#fff;  
        color: #0e2e45;
        white-space: nowrap;
        border: 1px solid #0e2e45
        
    }
    .bio button:hover{
        background:#1b5c87;
        color: white;
        transition: 0.3s;   
    }
 
    .skills ul{
            list-style-type: none;
           
    }
    .skills ul li{
        margin-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        display: inline-block;
    }
    .skills ul li:hover{
        
        color: black;
        background:whitesmoke; 

    }

    .about{
        position: justify;
        padding-bottom: 250px;
        background: #fff;
        margin-top:200px
    }
    .about h3{
        text-align: center;
        margin-top: 50px;
    }
.cards{
    display: flex;
    background:#0e2e45;
    transition:0.3s linear;
   color: white;
}
.cards:hover{
   
    background:#1c4766;    
    transition:0.4s linear;
    opacity: 100%;
}
@media screen and (max-width:680px){

    .cards{
        position: relative;;
        width:80%;
    }
}